.Roboto {
  font-family: "Roboto", sans-serif;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-image: linear-gradient(180deg, rgb(59, 59, 255), rgb(0, 0, 0));
  color: rgb(203, 211, 255);
  text-align: center;
  vertical-align: middle;
}
.ficons{
  width: 32px;
  height: 32px;
}

.global-container {
  display: flex;
  justify-content: center;
  border-bottom: black solid 1px;
  margin-bottom: 1%;
  overflow: hidden;
}
.global-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
nav a {
  padding-left: 32px;
  padding-right: 32px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
}
nav a:hover {
  color: rgb(78, 78, 255);
  transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
}
.nav-container {
  display: flex;
  justify-content: center;
}
